<div style="text-align:left;width:500px;">
  <h1>
      {{ title }}!
  </h1>
</div>

<form (ngSubmit)="onSubmit(f)" #f="ngForm">
  <div id="data"[innerHtml]="htmlview"></div>
</form>

<div style="border: solid 3px; padding: 10px; display:block; margin:5px">
  <h1 style="color: red;">Final view of Form</h1>

<div style="padding: 1px; margin: 1px;"
  *ngFor="let item of finalData | keyvalue">
  <p style="font-size: 1.3rem;">{{item.key}} : {{item.value}}</p>
</div> 
<br/>
<button style="margin-right:10px" (click)="onApprove()">APPROVE</button>
<button style="margin-right:10px"(click)="onReject()">REJECT</button>
<button style="margin-right:10px"(click)="onDelete()">DELETE</button>
</div> 

<h1>update</h1>
<form style="align-items: center;" id="Parent" (ngSubmit)="onUpdate(f1)" #f1="ngForm">
<div *ngFor="let item of finalData | keyvalue">
 <label>{{item.key}}:</label>
  <input id="{{item.key}}" style="margin: 5px;" value="{{item.value}}" [disabled]="toggle"> <br/>
  
</div> 
<button style="margin-right:10px">UPDATE</button>
</form>


